apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: erp
spec:
  selector:
    app: notification-service
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
