apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq
  namespace: erp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
        - name: rabbitmq
          image: rabbitmq:3
          ports:
            - containerPort: 5672
          env:
            - name: RABBITMQ_DEFAULT_USER
              value: "erpuser"
            - name: RABBITMQ_DEFAULT_PASS
              value: "erppassword"
